body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    vertical-align: middle;
    width: 250px;
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section span {
    margin-right: 10px;
    color: #0973b9;
}

.user-section button {
    background-color: #0973b9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.line {
    border: none;
    border-top: 1px solid #ccc;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #0973b9;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

main h2 {
    color: #0973b9;
    font-size: 24px;
    margin-bottom: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-section {
    background-color: #f8f9fa;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section label {
    display: block;
    text-align: left;
    color: #0973b9;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-section input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.apply-btn, .delete-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.apply-btn {
    background-color: #e68d1d;
}

.apply-btn:hover {
    background-color: #c57717;
}

.delete-btn {
    background-color: #e68d1d;
}

.delete-btn:hover {
    background-color: #c57717;
}

.table-section {
    width: 400px;
}

.table-section h3 {
    background-color: #0973b9;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f8f9fa;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #0973b9;
    color: white;
}

.status-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    text-align: center;
    margin-right: 5px;
}

.check:before {
    content: "\2713";
    color: green;
}

.pencil:before {
    content: "\270F";
    color: #e68d1d;
}

.clock:before {
    content: "\1F550";
    color: #e68d1d;
}

.hourglass:before {
    content: "\9201";
    color: #e68d1d;
}

footer {
    background-color: #0973b9;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}