body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    vertical-align: middle;
}

.user-section button {
    background-color: #0973b9 ;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #0973b9;
    font-weight: bold;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.video-container {
    padding: 5px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.add-button {
    background-color: #0973b9 ;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    background-color: #0973b9 ;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}